@import 'https://realm.io/assets/fonts/effra_rg-webfont.woff';
body {
	font-family: "Realm", "Lato", Helvetica, Arial, sans-serif;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#row {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	height: 650px;
	width: 1200px;
	-webkit-font-smoothing: antialiased;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	padding: 50px;
}

#content {
	height: 600px;
	width: 1200px;
}

#logo {
	width: 150px;
}

#heading {
	font-weight: 600;
	font-size: 6rem;
	margin-bottom: 0;
	outline: none;
}

#strapline {
	font-weight: 500;
	font-size: 3rem;
	margin-top: .4rem;
	outline: none;
}

.button {
	font-size: 1rem;
	padding: .5rem 1.1rem .4rem;
	border: 1px solid;
	border-radius: 1rem;
	background: none;
	color: inherit;
	display: inline-block;
	text-decoration: none;
}